@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #f40688;
  --secondary-color: #0a69dd;
  --gray: #414141;
  --black: #000000;
  --white: #ffffff;
  --accent: #d1d5db;
  --gray-accent: #8b899b;
  --primary-accent: #ffeff8;
  --secondary-accent: #ebf1ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}


.main-content {
  width: calc(100% - 100px);
  @apply left-[100px] p-7 relative;
}


.text_gradiant {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-[#6e00ff] to-[#f40688];
}





@media screen and (min-width: 640px) {
  .main-content {
    width: calc(100% - 130px);
    @apply left-[130px] p-7 relative;
  }
}

@media screen and (min-width: 1024px) {
  .main-content {
    width: calc(100% - 300px);
    @apply left-[300px] p-7 relative;
  }
}